Django==4.2.10
channels==4.0.0
channels-redis==4.1.0
django-tailwind==3.6.0
stripe==8.4.0
python-dotenv==1.0.1
django-crispy-forms==2.2
crispy-tailwind==1.0.3
pillow>=11.0.0
redis==5.1.0
celery==5.4.0
django-celery-beat==2.6.0
django-celery-results==2.5.1
